:root {
  --accent: #e54c70;
  --background: #f4f4f4;
  --secondary: #ffffff;
  --tertiary: #d1d1d1;
  --primary: #32353e;
  --text-primary: #070b28;
  --text-secondary: #838383;
  --text-muted: rgba(209, 209, 209, 60%);

  &[data-theme="dark"] {
    --background: #171717;
    --secondary: #262626;
    --tertiary: #353535;
    --text-primary: #ffffff;
    --text-secondary: #b7b7b7;
    --text-muted: rgba(46, 46, 46, 60%);
  }
}
