build
dist
.solid
.output
.vercel
.netlify
netlify
.vinxi
.Identifier
.tanstack
.vite
.vs
stats.html
.env
.env*.local
/node_modules
/.idea
.project
.classpath
*.launch
.settings/
.code
.vscode
gitignore
.DS_Store
Thumbs.db
