build
dist
coverage
stats.html
*.log

.tanstack
.vite
.solid
.output
.vercel
.netlify
netlify
.vinxi
.Identifier

node_modules
.idea
.code
.vscode
.vs
.project
.classpath
*.launch
.settings

.env
.env*.local

.DS_Store
Thumbs.db
