body {
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: var(--background) !important;
}

#root {
  box-sizing: border-box;
  background-color: var(--background) !important;
}

* {
  box-sizing: border-box;
}

button,
a,
img {
  -webkit-touch-callout: none;
  user-select: none;
}

img {
  pointer-events: none;
}

div > * {
  overflow-wrap: break-word;
}

*:active,
*:hover,
*:focus {
  outline: 0;
  outline-offset: 0;
}
