*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input {
  all: unset;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  line-height: inherit;
  text-align: inherit;
  -webkit-appearance: none;
  appearance: none;
}

input[type="text"],
input[type="password"] {
  background-color: transparent;
  border-radius: 0;
  outline: none;
}

button {
  cursor: pointer;
  user-select: none;
}
