@import "vars";

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

i {
  //color: $purple;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
i,
a,
div {
  font: {
    family: -apple-system, system-ui, Helvetica Neue, Roboto, sans-serif;
    feature-settings: "clig" off, "liga" off;
    style: normal;
  }
}